{% load extra_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人设置</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">毕业设计管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">我的任务</a></li>
                    <li><a href="/subject/approval_subject/">审核课题</a></li>
                    <li><a href="/subject/passed_subject/">已通过课题</a></li>
                    <li><a href="#">公告</a></li>
                    <li><a href="#">下载中心</a></li>
                    <li class="active"><a href="/user/administrator_settings/">个人设置</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout/">退出</a></li>
                </ul>
                <div class="navbar-right">
                    <p class="navbar-text">{{ user | get_username }}</p>
                </div>
            </div>

        </div>
    </nav>
    <div class="container" id="app">
        <div class="page-header">
            <h3>个人设置 <small>基本信息</small></h3>
        </div>

        <form action="" class="form">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="">学院</label>
                    <input type="text" class="form-control" disabled value="{{ faculty }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="">姓名</label>
                    <input type="text" class="form-control" disabled value="{{ name }}">
                </div>
            </div>

        </form>
    

        <!-- 修改密码 -->
        <div class="page-header">
            <h3>个人设置 <small>其他设置</small></h3>
        </div>
        <div style="margin-bottom: 10px;"><button class="btn btn-default" @click="is_show=true">修改密码</button></div>
        <div v-show="is_show" id="change_password_div">
            <form action="" class="form-inline" onsubmit="return false">
                <div class="form-group">
                    <label for="">原密码</label>
                    <input type="text" class="form-control" name="old_password" placeholder="请输入原密码" v-model="oldPassword">
                </div>
                <div class="form-group">
                    <label for="">新密码</label>
                    <input type="password" class="form-control" name="new_password1" placeholder="请输入新密码" v-model="newPassword1">
                </div>
                <div class="form-group">
                    <label for="">确认密码</label>
                    <input type="password" class="form-control" name="new_password2" placeholder="请输入新密码" v-model="newPassword2">
                </div>
                <div class="form-group">
                    <input type="button" class="form-control" value="确认" @click="changePassword">
                    <input type="button" value="取消" class="form-control" @click="canelChange">
                </div>
            </form>
        </div>
        
            {% if error_msg %}
            <div class="alert alert-danger" style="margin-top: 10px;">{{ error_msg }}</div>
            {% endif %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                is_show: false,
                oldPassword: "",
                newPassword1: "",
                newPassword2: ""
            },
            methods: {

                canelChange(){
                    /* 取消修改密码 */
                    this.oldPassword = ""
                    this.newPassword1 = ""
                    this.newPassword2 = ""
                    this.is_show = false
                },
                changePassword(){
                    if (!this.oldPassword){
                        alert("请填写原密码")
                        return 
                    }

                    if (!this.newPassword1){
                        alert("请填写新密码")
                        return
                    }

                    if (this.newPassword1 !== this.newPassword2){
                        alert("新密码不一样")
                        return
                    }

                    if (this.newPassword1 === this.oldPassword){
                        alert("新旧密码一样")
                        return
                    }
                    
                    var url = "http://127.0.0.1:8000/user/change_password/"
                    var params = {
                        old_password: this.oldPassword,
                        new_password1: this.newPassword1,
                        new_password2: this.newPassword2,
                    }
                    
                    axios.post(url, params)
                    .then(function(res){
                        alert(res.data + "请重新登录")
                        window.location.href = "/"
                    })
                    .catch(function(error){
                        alert(error.response.data)
                    })
                }

            },

        })
    </script>
</body>
    
</html>