<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" id="app">
    <div class="row" style="margin-top: 200px; margin-bottom: 30px;">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column">
            <h1 style="text-align: center;">毕业设计管理系统</h1>
        </div>
        <div class="col-md-4 column"></div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputUsername">帐号</label>
                            <input type="username"
                                   class="form-control"
                                   id="exampleInputUsername" v-model="username"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            <input type="password"
                                   class="form-control"
                                   id="exampleInputPassword1" v-model="password"/>
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="loginAccount">Submit</button>
                    </form>
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            username: "",
            password: ""
        },
        methods: {
            loginAccount(){
                var account = {
                    username: this.username,
                    password: this.password
                };

                console.log(this.username+this.password);
                axios.post('/login/', account).then(function (response) {
                    var user_data = response.data;
                    if (user_data['role'] == "superuser"){

                    }
                    console.log(response);
                }).catch(function (error) {
                    console.log(error);
                })
            }
        }
    })
</script>
</body>
</html>